jieba
sentencepiece
nltk>=3.8.1
rouge-score>=0.1.2
evaluate>=0.4.0
transformers>=4.29.1
numpy==1.23.2
tensorflow>=2.5.0
#triton==1.0.0
triton
ninja
torchmetrics
opencc
torchtyping
accelerate>=0.19.0
ray
tqdm
rich
loralib
xgboost>=1.7.4
icetk
cpm_kernels
protobuf==3.20.0
pynvml
bitsandbytes>=0.39.0
peft>=0.4.0