jieba
sentencepiece
nltk>=3.8.1
rouge-score>=0.1.2
evaluate>=0.4.0
transformers>=4.26.1
numpy==1.23.2
torch>=1.11.0
tensorflow>=2.5.0
triton
ninja
torchmetrics
opencc
torchtyping
accelerate
ray
tqdm
rich
yaml
loralib